<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ini" value="C:\Andrei\sana2\utils\GenNoice\gen5.ini" />
  <add key="input" value="C:\Andrei\sana2\courses\course381\page*.htm" />
  <add key="NG" value="15" />
  <add key="act" value="[IN1];[TRANSFORM8];[TRANSFORM9];[TRANSFORM10];[TRANSFORM11];[TRANSFORM12];[TRANSFORM13];[TRANSFORM14];[OUT1]" />
 </appSettings>
</configuration>