<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="ini" value="C:\Andrei\sana2\utils\GenNoice\gen1.ini" />
  <add key="input" value="C:\Andrei\sana2\utils\GenNoice\tests\3\gen3.csv" />
  <add key="output" value="C:\Andrei\sana2\utils\GenNoice\gen_out.txt" /> 
  <add key="NG" value="10" />
  <add key="act" value="IN;[TRANSFORM3];OUT" />
</appSettings>
</configuration>